
# Image which is illegal to distribute - just for extra safety

kernal_hybrid.rom

# Compilation related files

build/*

# Input to the similarity tool - copyrighted material, we can't check it in!

/basic
/kernal

# Various IDE project files, temporary files, etc.

*project
.*swp
